<IfModule authz_core_module>
    <FilesMatch "assets/.*">
        Require all granted
    </FilesMatch>
</IfModule>

<IfModule !authz_core_module>
    <FilesMatch "assets/.*">
        Allow from all
    </FilesMatch>
</IfModule>