*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

.settings/
.vscode/

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
#application/config/crm_configurations.php

/.htaccess

uploads/*
.idea
.AppleDouble
.DS_Store
.history
.vscode
nbproject

.project
.buildpath
.travis.yml

application/tests/*

!.gitkeep

stats
error
template/build/*
!template/build/.gitkeep
class/genthumb/cache/*
class/easythumb/writable/*

tmp
phpdoc
.tmb
.safurai/*

.well-known
cgi-bin