*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

.settings/
.vscode/

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
#application/config/crm_configurations.php

/.htaccess
.htaccess

modules/*
!modules/.gitkeep 

custom_views/*
controllers/custom/*

uploads/*
.idea
.AppleDouble
.DS_Store
.history
.vscode
nbproject

.project
.buildpath
.travis.yml

application/tests/*


template/build/*
!template/build/.gitkeep 