.action_F44336 {
    background-color: #F44336;
}
.action_E91E63 {
    background-color: #E91E63;
}
.action_9C27B0 {
    background-color: #9C27B0;
}
.action_673AB7 {
    background-color: #673AB7;
}
.action_3F51B5 {
    background-color: #3F51B5;
}
.action_2196F3 {
    background-color: #2196F3;
}
.action_03A9F4 {
    background-color: #03A9F4;
}
.action_00BCD4 {
    background-color: #00BCD4;
}
.action_009688 {
    background-color: #009688;
}
.action_4CAF50 {
    background-color: #4CAF50;
}
.action_8BC34A {
    background-color: #8BC34A;
}
.action_CDDC39 {
    background-color: #CDDC39;
}
.action_FFEB3B {
    background-color: #FFEB3B;
}
.action_FFC107 {
    background-color: #FFC107;
}
.action_FF9800 {
    background-color: #FF9800;
}
.action_FF5722 {
    background-color: #FF5722;
}
.action_795548 {
    background-color: #795548;
}
.action_9E9E9E {
    background-color: #9E9E9E;
}
.action_607D8B {
    background-color: #607D8B;
}
.action_000000 {
    background-color: #000000;
}