/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

#search_form input[name="search"] {
  margin: 5px 0;
}

table {
  vertical-align: middle;
}

/*
Fix z-index per i date picker, che vanno sotto le modali in safari.
*/

.ui-datepicker,
.datetimepicker,
.datepicker,
.daterangepicker,
.datepicker-dropdown {
  z-index: 9999999 !important;
}

.select2,
.select2-container {
  width: 100% !important;
}

.table-scrollable {
  overflow: auto;
}

.dataTables_wrapper {
  overflow-x: auto;
  padding-right: 15px;
}

.maintenance_mode_alert {
  color: #ff1b08;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  position: absolute;
  margin-top: 11px;
  margin-left: 58px;
}

.blink_me {
  animation: blinker 2s linear infinite;
}
.select2-container {
  z-index: 1000 !important;
}
#js_modal_container .modal-dialog .select2-container,
.select2-container--open {
  z-index: 9999 !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    width: 90%;
    max-width: 1500px;
  }
}

.box-body.layout {
  padding: 0px;
}
.box-body.layout .content {
  padding: 0px;
}

.box-body {
  padding-left: 0px;
  padding-bottom: 20px;
}
.box .box-body {
  padding-left: 10px;
  padding-bottom: 10px;
}
.sidebar-menu.tree > li.active > a > span.selected {
  visibility: hidden;
}

.btn-grid-action-s {
  padding: 2px 6px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 4px;
}
table th.sorting,
table th.sorting_desc,
table th.sorting_asc {
  color: #3c8dbc !important;
}
table tr td {
  vertical-align: middle !important;
}

.action_inline {
  visibility: hidden;
}

/** BOOTSTRAP MATERIAL SWITCH TOGGLE**/
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: #d9534f;

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: #d9534f;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

/*Download button in dropzone*/

.dz-download {
  background-image: linear-gradient(to bottom, #0a0, #666);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #fff;
}
.dz-download:hover {
  color: #fff;
  cursor: pointer;
}
.dz-remove:hover {
  cursor: pointer;
}

.select2-container .select2-selection--multiple {
  min-height: 36px;
}

.firegui_notification {
  height: 450px;
}
.firegui_sidebar-form {
  border: 0px;
}
.firegui_width50 {
  width:50px;
}
.tab-content {
  padding-top:20px
}
.firegui_fontsize85 {
  font-size: 85%;
}
.firegui_fontsize10 {
  font-size:10px;
}
.firegui_margintop5 {
  margin-top: 5px;
}
.firegui_margin20_0 {
  margin: 20px 0px;
}
.firegui_widthauto {
  width:auto;
}
.container_hightcharts {
  min-width: 310px; height: 400px; width: 100%; margin: 0 auto;overflow: hidden;
}
.firegui_colorinput {
  min-width:95px;
}
.firegui_radio-list {
  margin-left: 6px;
}
.firegui_verticalaligntop {
  vertical-align:top!important;
}