.content-wrapper {
  background-color: #f5f5f5;
}

.content {
  position: relative;
}

.js_layout_box {
  position: relative;
}

#search_form input[name="search"] {
  margin: 5px 0;
}

table {
  vertical-align: middle;
  width: 100% !important;
}

.ui-state-highlight {
  border: 1px dotted black;
  margin: 1em 1em 1em 1em;
  height: 50px;
}

/*
Fix z-index per i date picker, che vanno sotto le modali in safari.
*/

.ui-datepicker,
.datetimepicker,
.datepicker,
.daterangepicker,
.datepicker-dropdown,
.bootstrap-timepicker-widget {
  z-index: 9999999 !important;
}

.select2,
.select2-container {
  width: 100% !important;
}

.table-scrollable {
  overflow: auto;
}

.dataTables_wrapper {
  overflow-x: auto;
  padding-right: 15px;
}

.maintenance_mode_alert {
  color: #ff1b08;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  position: absolute;
  margin-top: 11px;
  margin-left: 58px;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

.select2-container {
  /*z-index: 1000 !important;*/
  z-index: 500 !important;
}

#js_modal_container .modal-dialog .select2-container,
.select2-container--open {
  z-index: 9999 !important;
}

.modal-dialog {
  margin: 55px auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    width: 90%;
    max-width: 1500px;
  }
}

@media (max-width: 992px) {
  .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    background: transparent !important;
  }
}

.box-body.layout {
  padding: 0px;
}

.box-body.layout .content {
  padding: 0px;
}

.box-body {
  padding-left: 0px;
  padding-bottom: 20px;
}

.box .box-body {
  padding-left: 10px;
  padding-bottom: 10px;
}

.sidebar-menu.tree>li.active>a>span.selected {
  visibility: hidden;
}

.btn-grid-action-s {
  padding: 2px 6px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 4px;
}

table th.sorting,
table th.sorting_desc,
table th.sorting_asc {
  color: #3c8dbc !important;
}

table tr td {
  vertical-align: middle !important;
}

.action_inline {
  visibility: hidden;
}

/** BOOTSTRAP MATERIAL SWITCH TOGGLE**/
.material-switch>input[type="checkbox"] {
  display: none;
}

.material-switch>label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch>label::before {
  background: #d9534f;

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch>label::after {
  background: #d9534f;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
  background: inherit;
  left: 20px;
}

/*Download button in dropzone*/

.dz-download {
  background-image: linear-gradient(to bottom, #0a0, #666);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #fff;
}

.dz-download:hover {
  color: #fff;
  cursor: pointer;
}

.dz-remove:hover {
  cursor: pointer;
}

.select2-container .select2-selection--multiple {
  min-height: 34px;
}

.firegui_notification {
  height: 450px;
}

.firegui_sidebar-form {
  border: 0px;
}

.firegui_width50 {
  width: 50px;
}

.tab-content {
  padding-top: 20px;
}

.firegui_fontsize85 {
  font-size: 85%;
}

.firegui_fontsize10 {
  font-size: 10px;
}

.firegui_margintop5 {
  margin-top: 5px;
}

.firegui_margin20_0 {
  margin: 20px 0px;
}

.firegui_widthauto {
  width: auto;
}

.container_hightcharts {
  min-width: 310px;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.firegui_colorinput {
  min-width: 95px;
}

.firegui_radio-list {
  margin-left: 6px;
}

.firegui_verticalaligntop {
  vertical-align: top !important;
}

.dt-right {
  text-align: right;
}

a.fancybox {
  width: 50px !important;
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: "Font Awesome\ 5 Free";
}

.main-header .sidebar-toggle:before {
  content: "\f0c9";
  font-weight: 900;
}

.main-header a.logo {
  box-shadow: none;
}

.dropdown-menu {
  border: none !important;
  box-shadow: 0 4px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.35);
}

.dropdown-menu>.user-header {
  background-color: #222d32 !important;
}

.dropdown-menu>.user-body:hover {
  background: #26546f;
  transition: all 0.25s ease-in;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:hover a {
  color: #fff !important;
  transition: color 0.25s ease-in;
}

.navbar-nav>.notifications-menu>.dropdown-toggle>i {
  margin-right: 5px !important;
}

.navbar-custom-menu {
  font-size: 16px;
}

body {
  background: transparent !important;
}

.login-p {
  color: #ffffff !important;
}

.background_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 100% !important;
}

.login-box-body {
  background: none !important;
}

.disconnect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
}

.rounded>.form-group select {
  color: #121417 !important;
  background-color: transparent !important;
  color: #fffffe !important;
  border: 1px solid #fffffe;
  width: 30%;
}

.transparent {
  background: transparent !important;
  color: white !important;
}

.rounded>.form-group label {
  margin-right: 10px;
  color: #fffffe !important;
}

.rounded>*>input.form-control {
  border-radius: 20px;
}

/*add rules to bootstrap-select*/

.bootstrap-select {
  max-width: 40% !important;
}

.bootstrap-select>.dropdown-toggle {
  background-color: transparent !important;
  color: #fffffe !important;
  border-radius: 20px;
}

.bootstrap-select>.dropdown-toggle>.bs-caret>.caret {
  color: #fffffe !important;
}

.dropdown-menu>.active>a {
  background-color: #3c8dbc !important;
}

.dropdown-menu>.active>a>span {
  color: #fffffe !important;
}

/*end boostrap-select customization*/

.forget_password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password_title {}

.password_reset p a {
  color: #fffffe !important;
  font-weight: 700;
}

.rounded_btn {
  width: 100% !important;
  border-radius: 20px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0px;
  transition: background-color 0.45s ease;
}

.background_img {
  min-height: 100vh;
  max-height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  color: #fff;
  position: absolute;
  overflow: hidden;
}

div.upload-drop-zone {
  min-height: 200px !important;
  border-width: 3px !important;
  background: url("../../images/drop_zone.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 300px auto;
  border-style: dashed !important;
  border-color: #3c8dbc;
  line-height: 20px;
  text-align: left;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  background-color: #ffffff;
}

.dz-message {
  display: none !important;
}

.sidebar-menu>li {
  border-bottom: 1px solid #222d32;
}

.skin-blue .sidebar-menu>li>a {
  color: #fff;
}

/*hover effect on sidebar elements*/
.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
  color: #fff;
  background: #26546f;
  transition: all 0.25s ease-in;
}

/*space between icon and text*/
.skin-blue .sidebar-menu>li>a>i,
.skin-blue .sidebar-menu>li.active>a>i,
.skin-blue .sidebar-menu>li.menu-open>a>i {
  width: 30px;
}

.skin-blue .sidebar-menu>li:hover>a>i,
.skin-blue .sidebar-menu>li.active>a>i,
.skin-blue .sidebar-menu>li.menu-open>a>i {
  width: 40px;
  transition: all 0.35s ease-in;
}

.skin-blue .sidebar-menu>li.header {
  color: #fff;
  font-weight: 500;
}

.vco-slider {
  display: none;
}

.timeline_height {
  height: 215px;
}

.list-group-item>span {
  color: #3c8dbc !important;
  word-wrap: break-word !important;
}

.list-group-item>a {
  font-weight: bold !important;
}

.list-group-item {
  overflow: hidden !important;
  position: relative !important;
  display: block !important;
  padding: 10px 15px !important;
  margin-bottom: -1px !important;
  background-color: #fff !important;
}

.font-bold {
  font-weight: bold !important;
}

.scroller {
  min-height: 300px;
  max-height: 435px;
  overflow-y: auto;
}

.api-manager-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-group-item-text>p {
  color: #121417 !important;
}

.notification>span {
  white-space: normal;
}

.error-page>.headline {
  font-size: 50px;
}

.error-page>.error-content {
  margin-left: 160px;
}

.js_form_daterangepicker>button.btn {
  top: -5px;
}

.location-search-container {
  max-width: 100%;
}

.location-search-container>div.input-group {
  margin-bottom: 3px;
}

.location-search-container>.location-map-container {
  max-width: 100%;
  height: 300px;
  max-height: 400px;
}

.cursor-pointer {
  cursor: pointer;
}

.fileinput-new {
  width: 156px;
  height: 100px;
}

.dropzone_div.fileinput-new {
  width: 100% !important;
  height: auto !important;
}

.fileinput-new>img {
  max-height: 80px;
}

.fileinput-preview {
  max-width: 200px;
  max-height: 150px;
}

.fileinput-preview>img {
  max-height: 140px;
}

.btn-grid-action-s>span {
  color: white !important;
}

.custom-action {
  color: white !important;
  margin-left: 3px;
}

th.w15 {
  width: 15%;
}

.logo {
  max-width: 360px;
  max-height: 200px;
}

.firegui-box {
  margin-top: 100px;
}

.forget-form {
  display: block;
}

#js-remove-group {
  display: none !important;
}

.permissions-layout-label {}

.fw-normal {
  font-weight: normal;
}

.js_filter_form_row {
  margin-bottom: 10px;
}

.form-vertical2col {
  border-right: 1px solid #e4e4e4;
}

.dt-subdata-btn {
  margin-top: 5px;
}

.subdata-tr {
  background-color: #ddd !important;
}

.subdata-th {
  background-color: #dcdcdc;
  color: #000;
}

.subdata-table {
  margin-bottom: 0 !important;
}

.subdata-td {
  padding: 0 !important;
  border: none !important;
}

.subdata-td>.collapse {
  margin-top: 25px;
  padding: 5px;
}

.image-row>.image-set {
  display: inline-block;
  margin-bottom: 6px;
}

.image-set>img {
  height: 75px !important;
}

.upload-thumbnail>div.text-right {
  margin: 1px -2px 0 0;
}

.js-bulk-action {
  width: auto;
}

.js_barcode_container {
  margin-bottom: 56px;
}

.static-vertical-grid>hr {
  margin-top: 0.5% !important;
  margin-bottom: 0.5% !important;
}

.big-tile-list-item {
  height: 150px !important;
}

.big-tile-list-item>.details>.number {
  text-align: center;
}

.big-tile-list-item>.details>.more {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.map-customizable,
.map-standard {
  height: 380px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-10 {
  margin-top: 10px !important;
}

.map-container {
  height: 680px !important;
}

.map-results {
  height: 680px;
  overflow-y: auto;
}

.mt-30 {
  margin-top: 30px !important;
}

.margin-0 {
  margin: 0px;
}

.margin-bottom-20 {
  margin-bottom: 20px
}

.paggind-0 {
  padding: 0px;
}

.tab-pane .content {
  padding: 0px;
}

.overflow-auto {
  overflow: auto;
}

/*space and border-radius between button in menu_group*/
.mr-10 {
  margin-right: 10px;
}

.br-4 {
  border-radius: 4px !important;
}

/*Remove default background-color on hover*/
.main-header .sidebar-toggle:hover {
  background-color: transparent !important;
}

/*Removed border from sidebar search*/
.skin-blue .sidebar-form {
  border-radius: none;
  border: none;
  margin: 10px 10px;
}

.layout_box .content {
  min-height: auto;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: inherit !important;
}

.navbar-right,
.navbar-left {
  height: 50px;
}

/*Hide topbar with logo, timetracker and widget on mobile*/
@media (max-width: 768px) {
  .wrapper .main-header .logo {
    display: none;
  }

  .main-sidebar {
    padding-top: 50px;
  }

  .navbar-left {
    display: none;
  }

  .js_topbar_timetracker {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0px !important;
  }
}

.main-footer {
  height: 43px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1100;
  margin-left: 0px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .left_side {
  width: 230px;
}

.main-footer .center_side {
  min-width: 300px;
}

.main-footer .right_side {}

.main-footer .left_side button {
  width: 50px;
  border: solid 1px #cccccc;
}

.btn_footer i {
  color: #ababab;
  font-size: 20px;
}

.ul_multiple_key_values {
  margin: 0px;
  padding-left: 10px;
  list-style-type: circle;
}

.btn-group {
  width: 100%;
}

/* TEXTAAREA AUTO GROWING */

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap>textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid #d2d6de;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

/* Beauty Checkbox */

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.js_todo_row_container {
  cursor: move;
}

#js_page_content section.content {
  padding-bottom: 50px;
}

td div.action-list {
  white-space: nowrap;
  min-width: 62px;
}

.language-switch.floating {
  position: absolute;
  background: #fff;
  padding: 1px 5px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  top: -2px;
}

.menu_group {
  margin-bottom: 10px;
}

.connectedSortable {
  min-height: unset !important;
}

.js_loading {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  z-index: 10002;
}

.js_loading img {
  max-height: 50px;
}

input:invalid {
  border: red solid 1px;
}

.mt10 {
  margin-top: 10px !important;
}

/* Overwrite adminlte rules */
.connectedSortable {
  min-height: 5px !important;
}

form fieldset:hover {
  cursor: pointer;
}

form fieldset .row {
  display: none;
}

fieldset.fieldset_visible {
  padding: 10px;
  background: #f9f9f9;
}

.js_form_fieldset legend {
  width: auto;
  border-bottom: none;
  font-size: 1.2em;
  color: #505ae2;

}

.js_show_user_password {
  cursor: pointer;
}

#js_layout_content_wrapper {
  padding-bottom: 50px !important;
}