/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


#search_form input[name="search"] {
    margin: 5px 0;
    
}

table {
    vertical-align:middle;
}

/*
Fix z-index per i date picker, che vanno sotto le modali in safari.
*/

.ui-datepicker, .datetimepicker, .datepicker, .daterangepicker, .datepicker-dropdown {
    z-index: 9999999 !important;
}

.select2, .select2-container {
    width: 100% !important;
}

.table-scrollable {
    overflow:auto;
}

.dataTables_wrapper {
    overflow-x:scroll;
}

.maintenance_mode_alert {
    color:#ff1b08;
    font-weight:bold;
    font-size:20px;
    margin: 0 auto;
    position: absolute;
    margin-top: 11px;
    margin-left: 58px;
}

.blink_me {
    animation: blinker 2s linear infinite;
}
.select2-container {
    z-index: 1000!important;
}
#js_modal_container .modal-dialog .select2-container,.select2-container--open {
    z-index: 9999 !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media (min-width: 992px) {
    .modal-xl {
        width: 90%;
        max-width: 1500px;
    }
}

.box-body.layout {
    padding:0px;
}
.box-body.layout .content {
    padding:0px;
}

.box-body {
    padding-left:0px;
    padding-bottom:20px;
}
.box .box-body {
    padding-left:10px;
    padding-bottom:10px;
}
.sidebar-menu.tree > li.active > a > span.selected {
    visibility: hidden;
}

.btn-grid-action-s {
    padding: 2px 6px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 4px;
}
table th.sorting, table th.sorting_desc, table th.sorting_asc {
    color: #3c8dbc!important;
}
table tr td {
     vertical-align:middle!important;
}